
body{
  background: #489196;
}



#first_form{
  color: orange;
  margin-left: 40%;
}


.par{
  margin-top: 10px;
}

.letter{
  display:inline;
  font-size: 26px;
}


#table1{
  margin-left: 40%;
  color:white;
  border:3px solid #020FFA;
  background-color:#20ED09;
  font-size:30px;

}


#hiddenbutton{
  width:40px;
  height:40px;
  color:red;
  display:inline;
}
