{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel = "stylesheet" href="{% static 'anapp/css/style.css' %}">
    <script type="text/javascript" src = "{% static 'anapp/js/jquery-3.6.0.js' %}"></script>
    </script>
    <title>Dynamic Chart</title>
      <script type="text/javascript" src="{% static 'anapp/js/scripts.js' %}"></script>

  </head>
  <body>
    <form  action="." id = "first_form" method = "POST"> {% csrf_token %}
      <div class = "letter"> k:
      </div><input class = "par one" type="range" name="slv1" value="0" min = '-50' max = '50'> <div id = "slv1" style = "display:inline;">0</div><br>

      <div class = "letter"> l:
      </div><input class = "par two" type="range" name="slv2" value="0" min = '-50' max = '50'> <div id = "slv2" style = "display:inline;">0</div><br>

      <div class = "letter"> m:
      </div><input class = "par three" type="range" name="slv3" value="0" min = '-50' max = '50'> <div id = "slv3" style = "display:inline;">0</div><br>

      <div class = "letter"> n:
      </div><input class = "par four" type="range" name="slv4" value="0" min = '1' max = '50'> <div id = "slv4" style = "display:inline;">1</div><br>

      <div class = "letter"> p:
      </div><input class = "par five" type="range" name="slv5" value="0" min = '-50' max = '50'> <div id = "slv5" style = "display:inline;">0</div><br>

      <button type="submit" name="button" id = 'hiddenbutton' class = "first_button">Сохранить результат в БД</button>

    </form>

      <br>
      <div class="formula">
        <h2  style = "margin-left:30%, color: white;">         y = k*sin(l+m*x) + n^x + e^(p*x) </h2>
      </div>


      <br>
      <form method = 'GET'>
        <input type="number" name="received_id" id = "received_id" value="293" style = "margin-left:45%;">
        <button type="button" id = "pk_submit" name="pk_sumbit" value="293" class = "second_button">Восстановить график по ID</button>
      </form>
    <br><br>
    <canvas id="canvas_plot" width="700" height="700" style = "display:block; background-color: #9ebaa4; margin-left: 32%;"></canvas>
    <br><br>

    <div id="mar" style = "margin-left:42%;">
      <h3>                          База данных: </h3>
    <table border="5" id = "table1" style = "color:black;">
      <div class = "data_table">
        <tr>
          <th id = "primary_key" style = "background-color:orange;">id</th>
          <th>k</th>
          <th>l</th>
          <th>m</th>
          <th>n</th>
          <th>p</th>
        </tr>
        {% for item in logs %}
        <tr>
          <td id = "primary_key" style = "background-color:orange;">{{item.pk}}</td>
          <td>{{item.par1}}</td>
          <td>{{item.par2}}</td>
          <td>{{item.par3}}</td>
          <td>{{item.par4}}</td>
          <td>{{item.par5}}</td>
        </tr>
        {% endfor %}
      </div>
    </table>
  </div>



  </body>
</html>



<style >
.first_button
{
  width:100px;
  height:100px;
  background-color: red;
  color:white;
  margin:5px;
  margin-left:150px;
  display:inline;

}

.second_button
{
width:40px;
height:30px;
background-color: purple;
margin:5px;
margin-left:50px;"
color: white;
}

.data_table
{
  text-align: center;
}

.formula{
  color: #ffb24f;
  margin-left: 40%;
  margin-right:auto;
}

#pk_submit
{
  width:100px;
  color:white;
  height:50px;
}



#hiddenbutton{
  width:80px;
  height:65px;
  color:white;
  display:inline;
}
</style>
